In [18]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsRegressor
from sklearn import neighbors

In [10]:
dataset = pd.read_csv('CO2_EMISSIONS.csv')

dataset.head()

   MODELYEAR   MAKE  ... FUELCONSUMPTION_COMB_MPG CO2EMISSIONS
0       2014  ACURA  ...                       33          196
1       2014  ACURA  ...                       29          221
2       2014  ACURA  ...                       48          136
3       2014  ACURA  ...                       25          255
4       2014  ACURA  ...                       27          244

[5 rows x 13 columns]

In [11]:
dataset[["MAKE", "MODEL", "VEHICLECLASS", "TRANSMISSION", "FUELTYPE"]] = dataset[["MAKE", "MODEL", "VEHICLECLASS", "TRANSMISSION", "FUELTYPE"]].apply(lambda col:pd.Categorical(col).codes)
dataset.head()

   MODELYEAR  MAKE  ...  FUELCONSUMPTION_COMB_MPG  CO2EMISSIONS
0       2014     0  ...                        33           196
1       2014     0  ...                        29           221
2       2014     0  ...                        48           136
3       2014     0  ...                        25           255
4       2014     0  ...                        27           244

[5 rows x 13 columns]

In [12]:
feature = dataset[['MAKE', 'MODEL', 'VEHICLECLASS','CYLINDERS' ,'TRANSMISSION' ,'FUELTYPE', 'FUELCONSUMPTION_CITY', 'FUELCONSUMPTION_HWY', 'FUELCONSUMPTION_COMB', 'FUELCONSUMPTION_COMB_MPG']]
label = dataset[['CO2EMISSIONS']]

In [13]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(feature, label, test_size = 0.20)

In [14]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(x_train)
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

In [19]:
from sklearn.model_selection import GridSearchCV
params = {'n_neighbors':[2,3,4,5,6,7,8,9,10]}

knn = neighbors.KNeighborsRegressor()

model = GridSearchCV(knn, params, cv=5)
model.fit(x_train,y_train)
model.best_params_

{'n_neighbors': 2}

In [20]:

model = KNeighborsRegressor (n_neighbors = 2)
model.fit(x_train,y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=2, p=2,
                    weights='uniform')

In [28]:
y_pred = model.predict(x_test)
accuracy_score = model.score(x_test,y_test)
print(accuracy_score)

0.9592941182024995