Nama : William Yulio

NIM : 2301869840

Kelas : LD01

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn import tree
import graphviz
import pandas as pd
import numpy as np

In [ ]:
def load_dataset():
    dataset = pd.read_csv('Cheat.csv')
    return dataset

In [ ]:
dataset = load_dataset()
dataset

  Refund Marital Status  Taxable Income Cheat
0    Yes         Single             125    No
1     No        Married             100    No
2     No         Single              70    No
3    Yes        Married             120    No
4     No       Divorced              95   Yes
5     No        Married              60    No
6    Yes       Divorced             220    No
7     No         Single              85   Yes
8     No        Married              75    No
9     No         Single              90   Yes

In [ ]:
from sklearn.preprocessing import LabelEncoder
Le = LabelEncoder()

dataset['Refund'] = Le.fit_transform(dataset['Refund'])
dataset['Marital Status'] = Le.fit_transform(dataset['Marital Status'])
dataset['Cheat'] = Le.fit_transform(dataset['Cheat'])

In [ ]:
features = dataset[['Taxable Income', 'Refund', 'Marital Status' ]]
label = dataset[['Cheat']]

In [ ]:
features

   Taxable Income  Refund  Marital Status
0             125       1               2
1             100       0               1
2              70       0               2
3             120       1               1
4              95       0               0
5              60       0               1
6             220       1               0
7              85       0               2
8              75       0               1
9              90       0               2

In [ ]:
ID3 = tree.DecisionTreeClassifier(criterion = 'entropy')
ID3 = ID3.fit(features, label)

CART = tree.DecisionTreeClassifier(criterion = "gini")
CART = CART.fit(features, label)

In [ ]:
dot_data = tree.export_graphviz(ID3, out_file=None, 
                      feature_names=features.columns)  
graph = graphviz.Source(dot_data)  
graph

In [ ]:
dot_data = tree.export_graphviz(CART, out_file=None, 
                      feature_names=features.columns)  
graph = graphviz.Source(dot_data)  
graph

# Detail Koding

1. Pertama yang saya lakukan adalah import semua library yang akan digunakan untuk assignment kali ini. Selanjutnya adalah memasukkan dataset yang akan digunakan yaitu Cheat.csv.

2. Kemudian saya melakukan proses preprocessing kepada dataset agar dataset yang semula merupakan string diubah menjadi variabel angka dengan menggunakan LabelEncoder() agar dapat masuk kedalam model yang akan kita buat nantinya. Saya memilih LabelEncoder agar string bisa diubah menjadi categorized value.

3. Selanjutnya masuk kedalam pemilihan features dan label yang akan digunakan dan dilanjutkan dengan pembuatan model menggunakan library sklearn dengan mengimport DecisionTreeClassifier kedalam koding.

4. Dalam tahap membuat model, saya membuat 2 jenis model yaitu model ID3 dengan menggunakan entropy dan model CART dengan menggunakan GINI Index. Hal ini dilakukan agar bisa melihat perbandingan antara kedua model nanti.

5. Sebelumnya saya tidak menggunakan split data dikarenakan, ketika saya split dataset yang digunakan. Hasil dari model akan menjadi tidak utuh sesuai dengan dataset aslinya, oleh karena itu saya langsung memasukkan semua dataset tanpa di split datanya.

6. Kemudian saya melakukan plotting untuk melihat hasil dari decision tree menggunakan 2 jenis algortima, dan dihasilkan bentuk yang sama dari kedua algortima tersebut.

# Kesimpulan

Kodingan ini juga memiliki kesamaan dengan dataset pada PlayTennis.csv, yaitu kedua jenis decision tree menghasilkan bentuk yang sama setelah diplotting menggunakan tree.export_graphviz(). Namun apabila kita bandingkan dengan perhitungan secara manual terdapat sebuah perbedaan dalam kedua pohon tersebut, menurut saya hal ini bisa terjadi karena model tidak dilatih terlebih dahulu menggunakan data training dan data test.